$gray: #eee;
$white: #fff;
$black: #333;
$active: #E74C3C;
@font-face {
	font-family: bgpArial;
	src: url(../../../../../assets/fonts/bpg-mrgvlovani-caps-webfont.ttf) format("opentype");
  };

  @font-face {
	font-family: bpg-arial;
	src: url(../../../../../assets/fonts/bpg-arial-webfont.ttf) format("opentype");
  };

.header {
	// border-bottom: 6px solid $active;
	position: abosolute;
	top: 0;
	width: 100%;
	background-color: #394264;
	;
	height: 70px;

	&__content {
	    width: 1150px;

		margin: auto;

		@media (max-width:1400px) {
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}

		&__info {
			align-items: center;
			margin-top: 5px;
			font-family: 'bgpArial';
			
			&__img{
				width: 50px;
				height: 50px;
				background-color: white;
				border-radius: 50%;

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			};

			&__name {
				padding-left: 20px;
				p {
					margin: 0;
					color: white;
				}
			};
		}
		&__logout {
			font-size: 50px;
			color: $active;
			span { 
				color:  #04cba0;

			}
		}
	}


};


html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: $gray;
	font-family: 'Raleway';
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none !important;
	

  
  font-family: 'bgpArial';
}

.icon {
  	position: relative;
  	width: 32px;
    height: 32px;
    font-size: 32px;
  	display: block;
  	fill: rgba($black, .5);
	margin-right: 20px;
	transition: all .2s ease-out;
}

.icon.active {
	fill: $active;
}

.icon.big {
	width: 64px;
	height: 64px;
	fill: rgba($black, .5);;	
}

#wrapper {
	@media (max-width: 1355px) {
		width: auto !important;
	}
	width: 1150px;
	height: 500px;
	border-radius: .5rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;	
	background-color: $white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
  	align-items: center;
  	justify-content: left;
	overflow: hidden

}

// @font-face {
//     font-family: mrgvlovani; 
//     src: url(../../../../../assets/fonts/bpg-mrgvlovani-caps-webfont.ttf) format("mrgvlovani");
//   }
#left-side {
	height: 70%;
	width: 43%;
	display: flex;
  	align-items: center;
  	justify-content: center;
	
	ul {
		
		li { 
			// font-family: 'mrgvlovani';
			padding-top: 10px;
			padding-bottom: 15px;
			display: flex;
			line-height: 34px;
			color: rgba($black, .5);
			font-weight: 500;
			cursor: pointer;
			transition: all .2s ease-out;
			
			&:hover {
				color: rgba($black, 1);
				transition: all .2s ease-out;
			}
			
			&:hover > .icon {
				fill: $black;
			}
		}
		
		li.active {
			color: rgba($black, 1);
			
			&:hover > .icon {
				fill: $active;
			}
		}
	}
}

#border {
	height: 288px;
	width: 1px;
	background-color: rgba($black, .2);
	
	#line.one {
		width: 5px;
		height: 54px;
		background-color: $active;
		margin-left: -2px;
		margin-top: 50px;
		transition: all .4s ease-in-out;
	}
	
	#line.two {
		width: 5px;
		height: 54px;
		background-color: $active;
		margin-left: -2px;
		margin-top: 114px;
		transition: all .4s ease-in-out;
	}
	
	#line.three {
		width: 5px;
		height: 54px;
		background-color: $active;
		margin-left: -2px;
		margin-top: 180px;
		transition: all .4s ease-in-out;
	}
	
	#line.four {
		width: 5px;
		height: 54px;
		background-color: $active;
		margin-left: -2px;
		margin-top: 197px;
		transition: all .4s ease-in-out;
	}
}

#right-side {
	height: 100%;
    width: 75%;
    overflow-x: hidden;
    overflow-y: auto;
	
	#first, #second, #third, #fourth {
		position: absolute;
		height: 300px;
		width: 75%;
		transition: all .6s ease-in-out;
		margin-top: -350px;
		opacity: 0;
		display: flex;
  		align-items: center;
  		justify-content: center;
		flex-direction: column;
        outline: none;
		
		h1 {
			font-weight: 800;
			color: $black;	
		}
		
		p {
			color: $black;
			font-weight: 500;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	
	#first.active, #second.active, #third.active, #fourth.active {
		margin-top: 0px;
		opacity: 1;
        transition: all .6s ease-in-out;
        outline: none;
	}
}

.active {
    outline: none;
    border: none;
    color: $active;
}


/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso https://codepen.io/Kseso/pen/phiyL **/
